// Place all the styles related to the commands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

nav {
  margin-bottom: 2em;
  color: white;
}

.main-body {
  margin: 2em 0;
  &__search-input-bar {
    margin-bottom: 2em;
  }

  .comannds-list-group {
    height: calc(100vh - 300px);
    overflow-y: scroll;
  }
}
